$primary: coral;
@import "../node_modules/bulma/bulma.sass";
$bgcolor: coral;

html, body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/233/624/small/brick-black-wall-texture-background-dark-brickwork-pattern-block-stone-structure-backdrop-dark-brick-wall-realistic-template-abstract-modern-wallpaper-design-illustration-vector.jpg');
}

    

